USE [master]
GO
/****** Object:  Database [BIBLIOTHEQUE]    Script Date: 01/08/2021 20:03:41 ******/
CREATE DATABASE [BIBLIOTHEQUE]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'BIBLIOTHEQUE', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL13.INSTANCE2\MSSQL\DATA\BIBLIOTHEQUE.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'BIBLIOTHEQUE_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL13.INSTANCE2\MSSQL\DATA\BIBLIOTHEQUE_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [BIBLIOTHEQUE].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [BIBLIOTHEQUE]
GO
USE [BIBLIOTHEQUE]
GO
/****** Object:  User [connexion_biblio]    Script Date: 01/08/2021 20:03:41 ******/
CREATE USER [connexion_biblio] FOR LOGIN [connexion_biblio] WITH DEFAULT_SCHEMA=[dbo]
GO
ALTER ROLE [db_accessadmin] ADD MEMBER [connexion_biblio]
GO
ALTER ROLE [db_datareader] ADD MEMBER [connexion_biblio]
GO
ALTER ROLE [db_datawriter] ADD MEMBER [connexion_biblio]
GO
/****** Object:  Table [dbo].[AUTEURS]    Script Date: 01/08/2021 20:03:41 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[AUTEURS](
	[ID_AUTEUR] [int] IDENTITY(1,1) NOT NULL,
	[NOM_AUTEUR] [nvarchar](max) NULL,
 CONSTRAINT [PK_AUTEURS] PRIMARY KEY CLUSTERED 
(
	[ID_AUTEUR] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[COURANTS]    Script Date: 01/08/2021 20:03:41 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[COURANTS](
	[ID_COURANT] [int] IDENTITY(1,1) NOT NULL,
	[ID_GENRE] [int] NULL,
	[LIBELLE_COURANT] [nvarchar](max) NULL,
 CONSTRAINT [PK_COURANTS] PRIMARY KEY CLUSTERED 
(
	[ID_COURANT] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[GENRES]    Script Date: 01/08/2021 20:03:41 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[GENRES](
	[ID_GENRE] [int] IDENTITY(1,1) NOT NULL,
	[LIBELLE_GENRE] [nvarchar](max) NULL,
 CONSTRAINT [PK_GENRES] PRIMARY KEY CLUSTERED 
(
	[ID_GENRE] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[LIVRES]    Script Date: 01/08/2021 20:03:41 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[LIVRES](
	[ID_LIVRE] [int] IDENTITY(1,1) NOT NULL,
	[ISBN] [numeric](18, 0) NULL,
	[TITRE] [nvarchar](max) NULL,
	[EDITEUR] [nvarchar](max) NULL,
	[ANNEE_EDITION] [date] NULL,
	[ID_AUTEUR] [int] NULL,
	[ID_GENRE] [int] NULL,
	[LIVRE] [nvarchar](max) NULL,
	[URL_LIVRE] [nvarchar](max) NULL,
 CONSTRAINT [PK_LIVRES] PRIMARY KEY CLUSTERED 
(
	[ID_LIVRE] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
ALTER TABLE [dbo].[COURANTS]  WITH CHECK ADD  CONSTRAINT [FK_COURANTS_GENRES] FOREIGN KEY([ID_GENRE])
REFERENCES [dbo].[GENRES] ([ID_GENRE])
ON UPDATE CASCADE
GO
ALTER TABLE [dbo].[COURANTS] CHECK CONSTRAINT [FK_COURANTS_GENRES]
GO
ALTER TABLE [dbo].[LIVRES]  WITH CHECK ADD  CONSTRAINT [FK_LIVRES_AUTEURS] FOREIGN KEY([ID_AUTEUR])
REFERENCES [dbo].[AUTEURS] ([ID_AUTEUR])
ON UPDATE CASCADE
GO
ALTER TABLE [dbo].[LIVRES] CHECK CONSTRAINT [FK_LIVRES_AUTEURS]
GO
ALTER TABLE [dbo].[LIVRES]  WITH CHECK ADD  CONSTRAINT [FK_LIVRES_GENRES] FOREIGN KEY([ID_GENRE])
REFERENCES [dbo].[GENRES] ([ID_GENRE])
ON UPDATE CASCADE
GO
ALTER TABLE [dbo].[LIVRES] CHECK CONSTRAINT [FK_LIVRES_GENRES]
GO
USE [master]
GO
